@charset 'utf-8';

/* ========================================================================= */
/*  0. BASIC - FONT                                                          */
/* ========================================================================= */

/* BASIC FONT - English 샌프란시스코 (영문/숫자/특수문자)*/
@font-face {
    font-family: "sanF_bold"; /* 사용하고 싶은 font-family명을 지정 */
    src: url("./font/SFNSText-Bold.otf") format("opentype"); /* 폰트파일 불러오기 */   
    unicode-range:U+0041-005A, U+0061-007A, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}
  
/* BASIC FONT - Korea : 나눔 스퀘어 라운드 */
 @font-face {
    font-family: "NanumSquareRound";
    src: url("./font/NanumSquareRoundR.ttf") format("truetype");
 }

 /* BASIC FONT - Korea : 나눔 스퀘어 라운드 BOLD*/
 @font-face {
    font-family: "NanumSquareRoundExtraBold"; 
    src: url("https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css");
   
 }

/* FONT - Menu_bar : 샌프란시스코_bold*/
@font-face {
    font-family: "sanF_boldG3"; 
    src: url("./font/SFNSText-BoldG3.otf") format("opentype"); 
 }  

/* FONT - Point : 나눔펜 */
 @font-face {
    font-family: "NanumPen"; 
    src: url("./font/NanumPen.ttf") format("truetype"); 
  
 }  


 /* FONT - Footer : 나눔명조*/
 @font-face {
    font-family: "NanuNanumMyeongjoBoldmGothic"; 
    src: url("https://hangeul.pstatic.net/hangeul_static/css/nanum-myeongjo.css");
  
 }  

 

/* font_unicod-range */
/* U+0041-005A(대문자), U+0061-007A(소문자), U+0030-0039(숫자), U+AC00-D7A3(한글) */
/* 특수문자: U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E */
 

/* ========================================================================= */
/*  0. BASIC - 기본설정                                                       */
/* ========================================================================= */

body {
    font-family: "NanumSquareRound";
}

body {
    /*가로 스크롤을 없애준다.*/
    overflow-x: hidden;

}

/* ========================================================================= */
/*  0. BASIC - MENU-BAR                                                      */
/* ========================================================================= */

.menu_navi {       
    width: 100%;
    height: 120px;   
    line-height: 100px;   
    background-color: white;  /* color: FFEBF0 */   
    border-bottom: 5px solid #87BBBC;
}


/* --------- 로고 ----------*/
.menu_navi_logosera {
    display: block;
    float: left;   
    padding-left: 150px;
    width: 20%;
}

#logo {
    height: 120px;
    width: 300px;
    padding-left: 20px;
}


/* --------- 메뉴 ----------*/
.menu_navi_itemGroup {
    float: right;
    margin-right: 150px;
    padding-top: 15px;
    white-space:  nowrap;    
}

.menu_navi_item {    
    padding: 30px;
    text-align: center;  
    font-family: 'sanF_boldG3';    
    font-weight: bold;
    font-size: 1.2rem;    
    transition: all 0.3s ease; 
}

.menu_navi_item:hover {
    /* background-color: #FFC0CB; */
    background-color: #E6F4F1;
    border-radius: 1.1rem;    
    font-weight: bold;   
    transition: all 0.3s ease; 
    transform: scale(2);    
} 

/* --------- Query Media ----------*/

@media (max-width: 1110px)
{
    .menu_navi_logo {
        display: none;
    }
}

@media (max-width: 1550px)
{
    .menu_navi_logosera {
        display: block;
        float: left;   
        padding-left: 30px;
    }

    .menu_navi_itemGroup {       
        margin-right: 30px;  
    }
}


/* ========================================================================= */
/*  0. BASIC - FOOTER                                                        */
/* ========================================================================= */

footer {
    border-top: 5px solid #87BBBC;    
    text-align: center;
    padding: 50px;
   
    font-size: 13px; 
}

footer div {
   
     
    
}

footer p {
    display: inline;
    font-weight: bold;
    font-size: 25px;    
}




/* ========================================================================= */
/*  1. MAIN  - top section                                                   */
/* ========================================================================= */

.main_sectionTop_1 {
    background-image: url('https://img.freepik.com/free-photo/hand-painted-watercolor-background_24972-1199.jpg?t=st=1652952074~exp=1652952674~hmac=a7887df1a0581216497b3e93af12166748dc26a6b6c0cdc3a0e7cf813e78aed8&w=826'); 
    background-attachment: fixed;   
    background-size: cover;
    height: 700px;
    /*  background-image: url('./images/back1.jpg'); */
    /* background-image: url('https://img.freepik.com/free-vector/gradient-pastel-sky-background_23-2148917404.jpg?t=st=1652359281~exp=1652359881~hmac=77d09a2a2c23e64a2dd0179c6069efbdceb5e6b4b4a0817163a189bf51909526&w=996'); */
    /* background-image: url('https://cdn.pixabay.com/photo/2017/12/13/16/40/background-3017167_960_720.jpg'); */
    /* background-image: url('https://img.freepik.com/free-photo/hand-painted-watercolor-background_24972-1199.jpg?t=st=1652952074~exp=1652952674~hmac=a7887df1a0581216497b3e93af12166748dc26a6b6c0cdc3a0e7cf813e78aed8&w=826');  */
    /* background-color: #EEF9C7; */   
    /* position: relative;
    z-index: 1; */
    }

/* .main_sectionTop_1::after {
    background-image: url('https://cdn.pixabay.com/photo/2020/08/01/14/51/frame-5455558_960_720.png');
    background-attachment: fixed;   
    background-size: cover;
    display: block;
    opacity: 1;
    height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    content: "";
} */

/* --------- 메인 신메뉴 타이틀----------*/
.main_sectionTop_newTittle {    
    white-space:  nowrap;
    padding-top: 30px;   
     
}

.main_sectionTop_newTittle h1 {    
    font-family: 'NanumPen';
    font-size: 3.7rem;
    text-align: center;     
}

.main_sectionTop_newTittle strong {
    font-size: 4rem;
    text-align: center;  
    color: #228B22;
    font-family: "sanF_bold";
}

.main_sectionTop_newTittle li {
    font-size: 2.5rem;
    text-align: center;  
    color: #FF8C0A; 
    font-family: "sanF_bold";  
}

/* --------- 메인 신메뉴 이미지----------*/

.main_sectionTop_newMenu {
    height: 500px;
}

.main_sectionTop_newMenu div{
    margin-bottom: 50px; 
    text-align: center;
    height: 500px; 
    white-space:  nowrap;    
}

.main_sectionTop_newMenu img {
    height: 500px;   
}

#newName1 {
    height: 470px;  
    padding-top: 30px; 
    padding-left: 30px; 
}

#newName2 {   
    padding-right: 30px;
    padding-bottom: 50px;  
}

#newName3 {
    width: 280px;
    height: 450px;
    padding-bottom: 20px;    
}

@media (max-width) {
    #newName1 {
        display: none;
    }
    #newName1 {
        display: none;
    }
}
/* --------- 메인 신메뉴 이름----------*/

.main_new_span {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    
    
}
#main_span1 {  
    color:#32BEBE;
    font-weight: bold;
    font-size: 30px;    
    bottom: 100px;
    position: relative;
    bottom: 220px;
    right: 190px;    
}

#main_span2 { 
    color:#FF8200;
    font-weight: bold;
    font-size: 30px;
    position: relative;
    bottom: 530px;
    right: 130px;
}

#main_span3 {   
    color:#0A6E0A;
    font-weight: bold;
    font-size: 30px;
    position: relative;
    bottom: 380px;
    left: 250px;    
}

/* --------- Query Media ----------*/
@media (max-width: 1000px)
{
    #newName3 {
        display: none;
    }
}
    
@media (max-width: 550px)
{
    #newName2 {
        display: none;
    }
}

/* ========================================================================= */
/*  1. MAIN  - center section                                                */
/* ========================================================================= */

/* --------- center section 1 ----------*/
.main_sectionLine {   
    height: 15px;
}

.main_sectionCenter1 {
    height: 100px;
}

#main_sectionCenter_location {
    background-color: #FFBFBE;
    height: 100px;
    width: 50%;
    float: left;
}

#main_sectionCenter_locationStore {
    color: #4F2834;
    text-align: center;     
    position: absolute;
    font-size: 35px;
    font-weight: bolder;
    left: 400px;
    top: 860px; 
}

.main_sectionCenter_location_picture {
    padding-left: 200px;
    padding-top: 5px;
    height: 90px;    
}

/* new-menu */
#main_sectionCenter_new {
    background-color: #FFBFBE;
    height: 100px;
    width: 50%;    
}

.main_sectionCenter_newMenu {
    color: #324B4B;    
    position: absolute;
    font-size: 35px;
    font-weight: bold;
    left: 1300;
    top: 860px;
    float: right;
}

.sa {
    opacity: 0;
    transition: all .5s ease;
}

.sa-left {
    transform: translate(-100px, 0);
}
/* 오른쪽에서 왼쪽으로 페이드 인 */
.sa-right {
    transform: translate(100px, 0);
}

.sa.show {
    opacity: 1;
    transform: none;
}
/* --------- center section 2 (원두 동영상)----------*/

.main_sectionCenter2 {
   /*  background-image: url('./images/coffee/coffee12.jpg');  */
    /* background-size: cover; */
    height: 600px;  
}

.main_sectionCenter2_content {
    height: 500px;
}

video { 
    height: 600px; 
    width: 100%; 
    object-fit: cover;  
}

#coffee_back {
    height: 600px;
}

.main_sectionCenter2_contentDiv {
    position: relative;
    bottom: 450px;
    left: 150px;
    font-size: 35px;
    color: white;
    font-family: "NanuNanumMyeongjoBoldmGothic";    
}

.main_sectionCenter2_contentDiv b {
    font-size: 50px;
}


/* ========================================================================= */
/*  1. MAIN  - bottom section                                                */
/* ========================================================================= */


.main_bottom {
    background-color: green;
    height: 600px;
}



/* ========================================================================= */
/*  2. MENU                                                                  */
/* ========================================================================= */
.menutitle {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #1b3c35;
    padding-bottom: 30px;
}

.wrapper {
    margin: 50px auto;
    max-width: 1300px; 
}

.wrapper nav {
    display: flex;
    justify-content: center;    
}

nav .items {
    display: flex;
    max-width: 1100px;   
    justify-content: center;
}

nav .items .item {
    margin: 7px;
    padding : 7px 25px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #64877F;
    border: 2px solid #64877F;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav .items .active,
nav .items .item:hover {
    color: #fff;
    background: #64877F;
}

/* 신메뉴 flex */
.newBaverage {
    display: flex;
    flex-wrap: wrap; /* flex요소들의 영역벗어나나는지  */
    margin-top:  30px;
    justify-content: center;    
}

.gallery .newBaverage .image {
    padding: 3px;
    padding-bottom: 25px;
    width: calc(80% / 4);
    text-align: center;   
    font-weight: bold;
    color: #1B3C35;    
}
.gallery .newBaverage .image span {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    border-radius: 15px;
}
.gallery .newBaverage .image img{
    width: 90%;
    vertical-align: middle; /* inline or table-cell 수직정렬 */
    transition: all 0.3s ease; 
    text-align: center;
    padding-bottom: 5px;
    border-radius: 15px;
}
.gallery .newBaverage .image:hover img{
    transform: scale(1.1);
}

/* 기존메뉴 flex */
.Baverage {
    display: flex;
    flex-wrap: wrap; /* flex요소들의 영역벗어나나는지  */
    margin-top:  30px;
    justify-content: center;    
}

.gallery .Baverage .image {
    padding: 3px;
    padding-bottom: 25px;
    width: calc(80% / 4);
    text-align: center;  
    font-weight: bold;
    color: #1B3C35;    
}

.gallery .Baverage .image span {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    border-radius: 15px;
}

.gallery .Baverage .image img{
    width: 90%;
    vertical-align: middle; /* inline or table-cell 수직정렬 */
    transition: all 0.3s ease; 
    text-align: center;
    padding-bottom: 5px;
    border-radius: 15px;
}
.gallery .Baverage .image:hover img{
    transform: scale(1.1);
}

/* 사이즈 변경시 필터탭 변경 */
@media(max-width: 960px){
    nav .items {
        flex-wrap: wrap;
        justify-content: center;
    }
    nav .items .item {
        margin: 5px;
    }
}

/* 화면사이즈 변경시 이미지 정렬갯수 변경 (변경될 때 정렬그대로 이미지 사이즈만 줄어드는게 좋아서 변경안함) */
/* 
@media(max-width: 1000px){
    .gallery .image {
        width: calc(100% / 3);
    }
}
@media(max-width: 800px){
    .gallery .image {
        width: calc(100% / 2);
    }
}

*/




/* ========================================================================= */
/*  3. MEMBERSHIP                                                            */
/* ========================================================================= */

/*  membership_title */
.membership {    
    text-align: center;
    width: 100%;
    height: 1100px;  
    color: #1B3C35;      
}

.membership_title{    
    font-size: 50px;    
    color: #1b3c35;
    padding-top: 50px;
    padding-bottom: 50px;  
}

.membership_subTitle {
    height: 300px;
    display: inline-block;
    text-align: center;
}

.membership_subTitle_img{
    height: 300px;   
}

#membership_img{
    width: 1400px;
    height: 300px;   
}

.membership_subTitle_txt {
    position: absolute;
    bottom: 180px;
    left: 400px;
    font-size: 18px;
    font-weight: 800;

}

.membership_subTitle_txtDiv {
    font-size: 40px;
    padding-bottom: 50px; 
    font-weight: 900;
    font-weight: bolder;
}

.membership_subTitle_txtDiv {
    font-size: 40px;
    padding-bottom: 50px; 
    font-weight: 700;
   
}

/* ------ membership_content -----*/

.membership_content {
    text-align: center;
    display: inline-block;
    transform: translate(0, 100px);
    opacity: 0;
    transition: all .5s ease;
    margin-top: 100px;
}

.membership_content.show {
    opacity: 1;
    transform: none;
}

.membership_content p{  
    font-weight: 900;
    line-height: 1; 
}

.membership_content ul {
    float: left;
    border: 1px solid #1b3c35;
    border-radius: 0.5rem;  
    color: #1b3c35;
    font-size: 15px;   
    height: 300px;
    width: 255px;
    padding: 20px;
    padding-top: 35px;
    margin: 0 30px;   
}

.membership li {
    text-align: left;
    line-height: 2;
    font-weight: bold;
}

.membership img {
    height: 10px;
}

.white_grade {
    position: relative;
    height: 100px;
    width: 250px;
    margin: auto;
    z-index: -2;
    bottom: 200px
}

.white_grade img {
    height: 100px;
    width: 200px;
    border-radius: 0.5rem;
}

.rose_grade {
    position: relative;
    height: 100px;
    width: 250px;
    margin: auto;
    z-index: -1;
    bottom: 260px
}

.rose_grade img {
    height: 100px;
    width: 200px;
    border-radius: 0.5rem;
    
}

.dia_grade {
    position: relative;
    height: 100px;
    width: 250px;
    margin: auto;
    z-index: -2;
    bottom: 320px
}

.dia_grade img {
    height: 100px;
    width: 200px;
    border-radius: 0.5rem;
    opacity: 0.7;
}


/* ========================================================================= */
/*  4. NOTICE                                                     */
/* ========================================================================= */

.notice_section {
    text-align: center;
    height: 1000px;
    position: relative;
    z-index: 1;
}

.notice_section::after {
    background-image: url('https://img.freepik.com/free-photo/flat-lay-photo-of-office-desk-with-laptop-copy-space-background_1150-45598.jpg?t=st=1653588194~exp=1653588794~hmac=e52d0937947c3388d1b12569de6ce1908dd3e142380af11c696b921f6278b938&w=996');
    background-size: cover;
    opacity: 0.3;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    content: "";
}

.notice_table {
    height: 500px;
    text-align: center;
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 100px;
    font-size: 20px;
    color: #1b3c35;
   
}

.notice_title {
    padding-bottom: 20px; 
    font-size: 50px;
    font-weight: bold;
    color: #1b3c35;
}

.notice_a {
    text-decoration:none;
    color:#32618D;
   
}
.table_td {
    font-size: 17px;
}

.notice_a:hover{

    text-decoration:underline;
}


table{
    text-align: center;
    width:1000px;
   
}
th{
    padding:10px 8px; /*padding: vertical horizontal;*/
    background:#f9f9f9;
    color:#1b3c35;
 
    text-align: center;
}

td{
    padding:10px 8px; /*padding: vertical horizontal;*/
    text-align:center;
    line-height:1.25em;
    color:#666;
    border-top:1px solid black;
    text-align: center;
}

td.article{ /*article 클래스가 적용된 열만 좌측 정렬*/
    text-align:left;
    padding-left: 30px;
}

    


/* ========================================================================= */
/*  5. LOCATION                                                       */
/* ========================================================================= */

.location_section {
    text-align: center;   
    height: 800px;    
}

.location_title {   
    white-space:  nowrap;    
    padding: 50px;
    font-size: 50px;
    font-weight: bold;
    color: #1b3c35;
}

.location_section_div {
  
    width: 1000px;
    height: 600px;
    display: inline-block;
    text-align: center; 
    margin-left: 50px;   
}  


/* Style the tab */


.tab {
    float: left;    
    width: 200px;
    height: 480px;
    margin-left: 40px; 
    font-family: "NanumSquareRound";
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;  
    color: black;
    padding: 22px 15px;
    background-color: #E6F4F1;
    border-radius: 60px;    
    border: none;
    outline: none;  
    cursor: pointer;
    transition: 0.3s;
    display: block;
    width: 198px;
    padding-top: 40px;
    padding-bottom: 39.5px;
    font-size: 20px;
    font-weight: bold;
    line-height: 2;
    margin-bottom: 15px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #87BBBC;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #87BBBC;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 40px;
    width: 600px;
    height: 490px;
    margin-top: 20px;
}

#day, #come, #parking{
    display: none;
    font-size: 50px;
}

.location_li_li {
    font-size: 20px;
}

#location_img {   
    margin-top: 10px;
    width: 500px;
    height: 350px;
}